<div *ngIf="newpost" class="shadow p-3 mb-5 bg-white rounded">
  <div class="row d-flex justify-content-between">
    <div class="name">New Post</div>
  </div>
  <hr>
  <form [formGroup]="myForm" (submit)="onsubmit(myForm)">
    <div class="row">
      <textarea class="form-control" formControlName="post" [ngStyle]="{'margin':'0px 15px'}" rows="3"
        id="comment"></textarea>
    </div>
    <hr class="hrmargin">
    <div class="row">
      <div class="col-md-2 ">
        <button class="btn btn-success form-control" type="submit" [ngStyle]="{'margin':'5px 0px'}">Add</button>
      </div>
      <div class="col-md-2 ">
        <button class="btn btn-danger form-control" (click)="cancel()" [ngStyle]="{'margin':'5px 0px'}">Cancel</button>
      </div>
    </div>
  </form>
</div>


<div class="shadow p-2 mb-5 bg-white rounded" *ngFor="let post of oldpost">
  <div class="row d-flex justify-content-between">
    <div class="name">{{post.name|uppercase}}</div>
    <div class="date">{{post.date|date}}</div>
  </div>
  <hr>
  <div class="row">
    <p class="text-justify post">{{post.post}}</p>
  </div>
  <hr class="hrmargin">
  <div class="row">
    <div class="col-md-2 ">
      <button class="btn btn-success opbutton"></button>
      <span>{{post.likes?.length}}</span>
    </div>
    <div class="col-md-2 ">
      <button class="btn btn-danger opbutton"></button>
      <span>{{post.dislike?.length}}</span>
    </div>
  </div>
</div>