<div class="shadow p-3 mb-5 bg-white rounded">
  <div class="row d-flex justify-content-between">
    <div class="name">Name</div>
    <div class="date">Date</div>
  </div>
  <hr>
  <div class="row">
    <p class="text-justify post">Flexbox can do some pretty awesome things when you mix flex alignments with auto
      margins. Shown below are three examples of controlling flex items via auto margins: default (no auto
      margin), pushing two items to the right (.mr-auto), and pushing two items to the left (.ml-auto).</p>
  </div>
  <hr class="hrmargin">
  <div class="row">
    <div class="col-md-2 ">      
      <button class="btn btn-success opbutton"></button>
      <span>1964</span>
    </div>
    <div class="col-md-2 ">      
      <button class="btn btn-danger opbutton"></button>
      <span>12</span>
    </div>

  </div>
</div>