.shadow {
    margin-top: 10px;
}

.name {
    margin-left: 15px;
    font-weight: bold;
}

.date {
    margin-right: 15px;
    font-weight: bold;
}

.post {
    margin: 0px 15px;
}

.opbutton{
    margin-right: 8px;
    height:20px;    
}

.butspacing{
    padding: 0px;
}
.hrmargin{
    margin-bottom: 5px;
}