.shadow {
    margin-top: 10px;
}

.name {
    margin-left: 15px;
    font-weight: bold;
}

.date {
    margin-right: 15px;
    font-weight: bold;
}

.post {
    margin: 0px 15px;
}
/* 
.is-invalid {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABmJLR…fGdytk+E9ZWCTd0bQVzQR0QAu8wxWcw1FKqQ/m//G3TuAHeHfyIkR4TB8AAAAASUVORK5CYII=);
} */