<div class="shadow p-3 mb-5 bg-white rounded ">
  <div class="row">
    <label class="name">Register</label>
  </div>
  <form [formGroup]="myForm" (submit)="onsubmit(myForm)">
    <div class="row">
      <input type="text" formControlName="name" placeholder="Name" class="form-control" [ngStyle]="{'margin':'10px'}">
    </div>
    <div class="row">
      <input type="text"  formControlName="email" placeholder="Email" class="form-control" [ngStyle]="{'margin':'10px'}">
    </div>
    <div class="row">
      <input type="password" formControlName="password" placeholder="Password" class="form-control" [ngStyle]="{'margin':'10px'}">
    </div>
    <div class="row">
      <button type="submit" class="btn btn-primary form-control" [ngStyle]="{'margin':'10px'}">Register</button>
    </div>
  </form>
  <div class="row">
    <p [ngStyle]="{'margin':'10px'}">Already a User? <span><a routerLink="" (click)="login()">Login</a></span></p>
  </div>
</div>